*{
    padding: 0;
    margin: 0;
    font-family:"josefin sans",sans-serif;
    box-sizing: border-box;
}

.hero{
    height: 115vh;
    width:100%;
    background-image: url("./images/astronaut cute.jpg");
    background-size: cover;
    background-position:fixed;
}

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .5s;
}

.logo:hover{
    transform: scale(1.25);
}

span{
    color:darkmagenta;
}

nav ul li{
    list-style-type: none;
    display: inline;
    padding: 10px 25px;
}

nav ul li a{
    color: white;
    text-decoration:none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color:darkmagenta;
    transition: .4s;
}

.btn{
    background-color:darkmagenta ;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 45px;
    transition: .4s;
}

.btn:hover{
    transform: scale(1.25); 
}

.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform:translateY(-50%);
}

h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 65px;
}

h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
}

span#emoji{
    color: rgb(111, 196, 27);
}

.newsletter form{
    width: 380px;
    max-width: 100%;
    position:relative;
}

.newsletter form input:first-child{
    display:inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid darkmagenta;
    outline: none;
    border-radius: 30px;
}

.newsletter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: darkmagenta;
    color: white;
    font-weight: bold;
    top: 6px;
    right: 6px;
}

input#submit:hover{
    box-shadow: 0px 0px 10px black, 0px 0px 8px grey;
    cursor: pointer;
}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: rgb(14, 14, 49);
}

.about img{
    height:auto;
    width: 430px;
}

.about-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px dashed darkmagenta;
}

.about-text h2{
    color: white;
    font-size: 60px;
    margin-bottom: 20px;
}

.about-text h5{
    color:white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
}

.about-text p{
    color:rgba(128, 255, 0, 0.671);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
}

.service{
    background-color:rgb(27, 27, 27);
    width: 100%;
    padding: 50px 0px;
}

.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 20px auto;
    text-align: center;
}

.box{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 460px;
}

.card{
    height: 370px;
    width: 335px;
    padding: 20px 35px;
    background-color: rgb(78, 78, 78);
    border-radius: 20px;
    margin: 60px 30px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 15px 0px;
    color: darkmagenta;
}

h5{
    color: white;
    font-size: 23px;
    margin-bottom: 14px;
}

h5#support{
    width: 280px;
    
}

.pra p{
    color: black;
    font-size: 17px;
    list-style: 27px;
    margin-bottom: 16px;
}

.pra p#wd{
    margin-bottom: 102px;
}

.pra p#sam{
    margin-bottom: 32px;
}

.card .button{
    text-decoration: none;
    border: 3px solid transparent;
    background-color: darkmagenta;
    color: white;
    font-weight: bold;
    padding: 4px 14px;
    border-radius: 30px;
    transition: .4s;
}

.card .button:hover{
    background-color: transparent;
    border: 3px solid darkmagenta;
    cursor: pointer;
}

.contact-me{
    width: 100%;
    height: 290px;
    background-color: rgb(78, 78, 78);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-me p{
    color: white;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact-me .button-2{
    background-color:darkmagenta ;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 45px;
    transition: .4s;
}

.contact-me .button-2:hover{
    transform: scale(1.25);
}

footer{
    position: relative;
    width: 100%;
    height: 100px;
    background-color:rgb(27, 27, 27);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.end{
    position: absolute;
    color:rgb(161, 160, 160);
    bottom: 32px;
    font-size: 14px;
}

.skill-progress-bar{
    margin: 0;
    padding: 40px 0 85px;

    place-items: center;
    background-color: rgb(14, 14, 49);
    width: 100%;
    height: 120%;
}

.progress-title{
    width: 100%;
    height: auto;
    padding-left: 170px;
}

.progress-title h3{
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin:10px 0px 20px;
}
