*{
    padding: 0;
    margin: 0;
    font-family:"josefin sans",sans-serif;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    width:100%;
    background-image: url("./images/Cyberpunk2077.jpg");
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span{
    color:darkmagenta;
}